@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
    /* not prioritised!!! */
    font-family: "SevenSeg";
    src: url("/DSEG7-Classic/DSEG7Classic-Regular.woff2") format("woff2"),
        url("/DSEG7-Classic/DSEG7Classic-Regular.woff") format("woff"),
        url("/DSEG7-Classic/DSEG7Classic-Regular.ttf") format("truetype");
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding-top: 2rem;
}

#previous-output,
#current-output {
    font-family: "SevenSeg", cursive;
}

#js-calc {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas:
        " output output output output"
        " clear clear delete divide"
        "seven eight nine multiply "
        "for five six  minus"
        "one two three plus"
        "zero dot equal equal";
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: minmax(3rem, auto) repeat(5, 2.5rem);
    gap: 0.2rem 0.2rem;
}
.calc-btn {
    border: solid 1px #000;
    border-radius: 3px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.calc-output {
    grid-area: output;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.for {
    grid-area: for;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.dot {
    grid-area: dot;
}
.plus {
    grid-area: plus;
}
.minus {
    grid-area: minus;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.equal {
    grid-area: equal;
}
.clear {
    grid-area: clear;
}
.delete {
    grid-area: delete;
}
.open-parentheses {
    grid-area: open-par;
}
.close-parentheses {
    grid-area: close-par;
}
